@using ClothShop.Core.DTOs.Product
@model Tuple<List<ClothShop.Core.DTOs.Product.ShowProductListItemViewModel>,int>
@{
    ViewData["Title"] = "خانه";
}

@section SearchBox
    {
    <header>
        @* <a href="" class="logo"><img src="/images/logo.png"></a> *@
        <h1> به فروشگاه لباس حيان خوش آمديد </h1>
        <h2> در اينجا ميتوانيد انواع لباس،متناسب با سليقه خود پيدا كنيد </h2>
        <h3> با کمترین هزینه خريداري كنيد </h3>
    </header>
    <div class="search-form">
        <form asp-controller="Product" asp-action="Index" method="get">
            <input type="text" name="filter" id="autFilter" placeholder="دنبال چه محصولي هستي ؟">
            <button><i class="zmdi zmdi-search"></i></button>
        </form>
    </div>
}
<main id="home-page">
    <div class="container">
        <section class="terms-items">
            <header>
                <h2> آخرین محصولات </h2>
            </header>
            <div class="row">

                <cache expires-after="@TimeSpan.FromMinutes(5)">
                    @await Component.InvokeAsync("LatesProduct")
                </cache>

            </div>
        </section>

        <hr>

        <section class="terms-items">
            <header>
                <h2> محصولات محبوب حيان </h2>
                @* <a href=""> مشاهده همه محصولات </a> *@
            </header>
            <div class="row">


                @foreach (var item in Model.Item1)
                {
                    <partial name="_BoxProduct" model="@item" />
                }


                @{
                    List<ShowProductListItemViewModel> popular = ViewBag.PopularCourse as
                        List<ShowProductListItemViewModel>;
                }
                @if (popular != null)
                {
                foreach (var item in popular)
                {
                <partial name="_BoxProduct" model="@item" />
                }
                }

            </div>
        </section>
    </div>
</main>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#autFilter").autocomplete({
                source: 'api/Productapi/search'
            });
        });
    </script>
}
