@using ClothShop.Core.Convertors
@using ClothShop.Core.DTOs.User
@using ClothShop.Core.Service.Interface
@inject IUserService _UserService

@{
    SideBarUserPanelViewModel user = _UserService.GetSideBarUserPanelData(User.Identity.Name);
}

<div class="col-md-3 col-sm-4 col-xs-12">
    <aside>

        <div class="avatar-layer">
            <div class="img-layer">
                <a asp-action="EditProfile" asp-controller="Home" class="change-image"><i class="zmdi zmdi-edit"></i></a>
                <img src="/UserAvatar/@user.ImageName">
            </div>
            <div class="detail">
                <span> @user.UserName </span>
                <span> عضویت : @user.RegisterDate.ToShamsi() </span>
            </div>
        </div>

        <section>
            <header><h3> میز کار </h3></header>
            <div class="inner">
                <ul>
                    <li><a href="/UserPanel"> مشاهده حساب کابری </a></li>
                    <li><a href="/UserPanel/EditProfile"> ویرایش حساب کابری </a></li>
                    <li><a href="/UserPanel/ChangePassword"> تغییر رمز عبور </a></li>
                    <li><a href="/UserPanel/Wallet"> کیف پول شما </a></li>
                    <li><a href="/UserPanel/MyOrders"> فاکتور ها </a></li>
                    <li><a href="/UserPanel/Addresses"> آدرس ها </a></li>
                    <li><a href="/Logout"> خروج از حساب کاربری </a></li>
                </ul>
            </div>
        </section>
    </aside>
</div>