@page "{id}"
@using ClothShop.DataLayer.Entities.Permission
@model ClothShop.Web.Pages.Admin.Material.EditModel
@{
    ViewData["Title"] = "ویرایش جنس ";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">ویرایش جنس </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <form method="post" enctype="multipart/form-data">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    ویرایش جنس  "@Model.Material.MaterialName"
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <input type="hidden" asp-for="Material.MaterialId" />
                    <input type="hidden" asp-for="Material.IsActive" />
                    <div class="form-group">
                        <label>عنوان جنس </label>
                        <input type="text" asp-for="Material.MaterialName" class="form-control">
                    </div>
                    <input type="submit" value="ذخیره اطلاعات" class="btn btn-success"/>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>

    </form>
</div>

